body {
  margin : 0;
  padding : 0;
}

@font-face {
  font-family: "Pixel";
  src:url("font/Pixel-LCD-7.woff") format("woff")
}

.display-container{
  position:relative;
  left: 40%;
  transform:translate(-50%);
}
